{% extends 'core/base.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}
  <div class="row m-lg-1"><h1>Mantenedor usuarios</h1></div>

  <form class="text-start p-4" id="formMantUser" method="post">
  
    {% csrf_token %}
    <label for="id_usuario">Usuario:</label>
    {{ form.usuario }}
    <br>
    <label for="id_tipo_usuario">Tipo de usuario:</label>
    {{ form.tipo_usuario }}
    <br>
    <label for="id_rut">RUT:</label>
    {{ form.rut }}
    <br>
    <label for="id_direccion">Dirección:</label>
    {{ form.direccion }}
    <br>
    <label for="id_subscrito">Subscrito:</label>
    {{ form.subscrito }}
    <br>
    <label for="id_imagen">Imagen:</label>
    {{ form.imagen }}
    <br>
    <input type="submit" value="Guardar">
    
  </form>

  <div class="table-responsive-sm table-responsive-md table-responsive-lg">
    <table id="tabla-principal" class="table table-hover">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Tipo Usuario</th>
          <th scope="col">Rut</th>
          <th scope="col">Nombres</th>
          <th scope="col">Apellidos</th>
          <th scope="col">Correo</th>
          <th scope="col">Dirección</th>
          <th scope="col">Subscrito</th>
          <th scope="col">Imagen</th>
        </tr>
      </thead>
      <tbody>
           {% if perfiles %}
        {% for perfil in perfiles %}
     
        <tr>
          <th scope="row">{{ perfil.usuario.id }}</th>
          <td>{{ perfil.tipo_usuario }}</td>
          <td>{{ perfil.rut }}</td>
          <td>{{ perfil.usuario.first_name }}</td>
          <td>{{ perfil.usuario.last_name }}</td>
          <td>{{ perfil.usuario.email }}</td>
          <td>{{ perfil.direccion }}</td>
          <td>{{ perfil.subscrito }}</td>
          <td><img src="{{ perfil.imagen.url }}" alt="Imagen de perfil"></td>
        </tr>
        {% endfor %}
        {% else %}
          <p>No hay perfiles disponibles.</p>
        {% endif %}
      </tbody>
      
    </table>
  </div>
  

  <!-- Scripts y enlaces a CSS -->
{% endblock %}

{% block script %}
  <script src="{% static 'core/js/admin_usuarios.js' %}"></script>
{% endblock script %}