{% extends 'core/base.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}

    <h1>Ficha de producto</h1>

    <form method="post" id="formulario-ficha">

        {% csrf_token %}

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 col-md-4 border border-3">
                    <img src="/media/{{ imagen }}" width="100%">
                </div>
                <div class="col-sm-12 col-md-6">
                    <h2 class="fw-bold mb-3">
                        {{ nombre }}
                    </h2>
                    <h4 class="fw-bold">
                        {{ html_estado|safe }}
                    </h4>
                    <h2 class="mb-3">
                        {{ html_precio|safe }}
                    </h2>
                    <h4 class="mb-4">
                        <div class="mb-3">
                            Descripción:
                        </div>
                        {{ descripcion }}
                    </h4>
                    <p>
                        {{ html_stock|safe }}
                    </p>
                    <input type="hidden" id="accion">
                    <button class="btn btn-primary ancho-150px" value=""> Comprar ahora </button>
                    <a href="{% url 'agregar_producto_al_carrito' id %}" class="btn btn-secondary ancho-150px"> Agregar al carrito </a>
                </div>
            </div>
        </div>
    </form>

{% endblock content %}

{% block script %}
    <script src="{% static 'core/js/ficha.js' %}"></script>
{% endblock script %}
