{% extends 'core/base.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}
<div class="row justify-content-center pt-5">
    <div class="col-lg-3 col-md-4 col-sm-12">
        <div class="card" style="width: 100%;">
            <img src="/media/{{ imagen }}" class="card-img-top" alt="{{ nombre }}">
        </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-12">
        <div class="card-body">
            <h1 class="card-title text-left text-dark">{{ nombre }}</h1>
            <p class="card-text text-left">{{ html_estado|safe }}</p>
            <h4 class="card-title text-left">{{ html_precio|safe }}</h4>
            <p class="card-text text-left">Descripción: </p>
            <p class="card-text text-left">{{ descripcion }}</p>
            <p class="card-text text-left">{{ html_stock|safe }}</p>
            <form method="post" id="formulario-ficha" class="text-center">
                {% csrf_token %}
                <input type="hidden" id="accion">
                {% if not user.is_authenticated or user.is_staff or user.is_superuser%}
              
                <a href="{% url 'ingresar' %}" class="btn btn-secondary">Iniciar sesión para comprar</a>
 
            {% endif %}
                {% if user.is_authenticated and not user.is_staff and not user.is_superuser %}
                    <button class="btn btn-danger" value="">Comprar ahora</button>
                    <a href="{% url 'agregar_producto_al_carrito' id %}" class="btn btn-secondary">Agregar al carrito</a>
                {% endif %}
            </form>
        </div>
    </div>
</div>
{% endblock content %}

{% block script %}
    <script src="{% static 'core/js/ficha.js' %}"></script>
{% endblock script %}
