{% extends 'core/base.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}

  {% if productos %}
    <div class="container-fluid">
      <div class="row">
        {% for producto in productos %}
          <div class="card col-sm-12 col-md-6 col-lg-3 m-2" style="width: 26rem;">
            {% if not user.is_authenticated or user.is_staff or user.is_superuser%}
              
              
            <a class="nav-link" href="{% url 'ingresar' %}">
 
            {% endif %}
            {% if user.is_authenticated and not user.is_staff and not user.is_superuser %}
            <a href="{% url 'ficha' producto.id %}" class="link-bloque">
              {% endif %}
              <div class="card-body">
                <img src="/media/{{ producto.imagen }}" class="card-img-top" alt="{{ producto.nombre }}" style="width: 200px; height: 200px; object-fit: cover;">
                <h5 class="card-title mt-3">
                  {{ producto.nombre }}
                </h5>
                <p class="card-text text-success"> 
                  {{ producto.html_estado|safe }}
                </p>
                <h4 class="card-title">{{ producto.html_precio|safe }}</h4>
                <p class="card-text">Descripción: </p>
                <p class="card-text">{{ producto.descripcion }}</p>
                <p class="card-text">{{ producto.html_stock }}</p>
              </div>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  {% else %}
    <h2>No se encontraron productos</h2>
  {% endif %}

{% endblock content %}
