{% extends 'core/base.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}

  {% if productos %}
  <header>
    <div id="carouselExampleIndicators" class="carousel slide">
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{% static 'core/images/foto1.jpg' %}" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item">
          <img src="{% static 'core/images/foto2.jpg' %}" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item">
          <img src="{% static 'core/images/foto3.jpg' %}" class="d-block w-100" alt="..." />
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </header>
    <div class="container-fluid">
      <div class="row">
        {% for producto in productos %}
          <div class="card col-sm-12 col-md-6 col-lg-3 m-2" style="width: 26rem;">
            {% if not user.is_authenticated or user.is_staff or user.is_superuser%}
              
              
            <a class="nav-link" href="{% url 'ingresar' %}">
 
            {% endif %}
            {% if user.is_authenticated and not user.is_staff and not user.is_superuser %}
            <a href="{% url 'ficha' producto.id %}" class="link-bloque">
              {% endif %}
              <div class="card-body">
                <img src="/media/{{ producto.imagen }}" class="card-img-top" alt="{{ producto.nombre }}" style="width: 200px; height: 200px; object-fit: cover;">
                <h5 class="card-title mt-3">
                  {{ producto.nombre }}
                </h5>
                <p class="card-text text-success"> 
                  {{ producto.html_estado|safe }}
                </p>
                <h4 class="card-title">{{ producto.html_precio|safe }}</h4>
                <p class="card-text">Descripción: </p>
                <p class="card-text">{{ producto.descripcion }}</p>
                <p class="card-text">{{ producto.html_stock }}</p>
              </div>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  {% else %}
    <h2>No se encontraron productos</h2>
  {% endif %}

{% endblock content %}
