{% extends 'core/base.html' %}
{% load static %}

{% block content %}
  
  <h1> Nosotros </h1>
  <header>
    <div id="menuAnon"></div>
  </header>
  <div class="container-fluid">
    <div class="col-sm-12 col-md-6">
      <div class="row">
        <p>
          La idea de crear PetShop surgió debido a nuestra pasión por los animales y
          nuestra experiencia en negocios. Nos dimos cuenta de que no había
          suficientes tiendas que ofrecieran una variedad de productos y alimentos
          de alta calidad para mascotas. Por eso, decidimos unir nuestras
          habilidades y crear una tienda en línea que brinde a los dueños de
          mascotas la mejor experiencia de compra posible.
        </p>
        <p>
          En PetShop, nos esforzamos por ofrecer una amplia selección de productos y
          alimentos de alta calidad para una variedad de mascotas, incluyendo
          perros, gatos, animales pequeños y mucho más. Nos aseguramos de trabajar
          con los mejores proveedores para garantizar la satisfacción de nuestros
          clientes y ofrecemos productos especializados para mascotas con
          necesidades dietéticas específicas.
        </p>
        <p>
          Además de ofrecer productos y alimentos de calidad, en PetShop también nos
          preocupamos por la educación de los dueños de mascotas. Por eso, ofrecemos
          una sección de blog en nuestro sitio web donde compartimos información
          útil sobre cómo cuidar y alimentar a tus mascotas de manera efectiva.
          También ofrecemos un servicio al cliente excepcional, y estamos siempre
          disponibles para ayudar a nuestros clientes en lo que necesiten.
        </p>
        <p>
          Como dueños de mascotas nosotros mismos, entendemos la importancia de
          proporcionar productos y alimentos de calidad para mantener a nuestras
          mascotas saludables y felices. Nos aseguramos de ofrecer solo los mejores
          productos en nuestra tienda, y nos enorgullece saber que nuestros clientes
          confían en nosotros para cuidar a sus amigos peludos.
        </p>
        <p>
          En PetShop, no solo somos una tienda en línea, sino también una comunidad
          de amantes de los animales. Nos encanta compartir historias y fotos de
          nuestros amigos peludos en las redes sociales y alentar a nuestros
          clientes a hacer lo mismo. Queremos crear una comunidad en la que todos se
          sientan bienvenidos y en la que podamos compartir nuestro amor por las
          mascotas.
        </p>
        <p>
          En conclusión, en PetShop nos dedicamos a ofrecer productos y alimentos de
          alta calidad para mascotas, así como información y educación sobre su
          cuidado y bienestar. Nuestra pasión por los animales nos impulsa a ofrecer
          soluciones personalizadas para cada necesidad de nuestros clientes, y
          nuestra atención al servicio al cliente nos distingue como una tienda en
          línea de confianza y amigable. ¡Te esperamos en PetShop para ayudarte a
          cuidar a tus amigos peludos!
        </p>
      </div>
    </div>
  </div>
    
{% endblock content %}