{% extends 'core/base.html' %}
{% load static %}

{% block content %}
  
  <h1> Nosotros </h1>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <p>
          ¡Descubre la diferencia en Faithful Pet, tu tienda de mascotas de confianza!
        </p>
        <p>
          En Faithful Pet, nos apasiona cuidar y atender a tus adorables compañeros peludos. Nuestra tienda de mascotas ofrece una amplia gama de productos y servicios para satisfacer todas las necesidades de tus amigos de cuatro patas.
        </p>
        <p>
          ¿Estás buscando alimentos nutritivos y saludables para tu perro o gato? Tenemos una selección cuidadosamente elegida de alimentos premium que garantizan una alimentación equilibrada y sabrosa para tu mascota.
        </p>
        <p>
          Además de comida, también ofrecemos una variedad de accesorios, juguetes, camas, collares, correas y mucho más. Todo lo que necesitas para mantener a tu mascota feliz, cómoda y segura.
        </p>
        <p>
          En Faithful Pet, nos enorgullece brindar un servicio excepcional y asesoramiento experto. Nuestro personal capacitado está listo para ayudarte a encontrar el producto perfecto para tu mascota y responder a todas tus preguntas.
        </p>
        <p>
          Visita nuestra página "Nosotros" para conocer más sobre nuestra pasión por las mascotas y cómo nos esforzamos por brindarles el mejor cuidado posible. ¡Te invitamos a unirte a la familia Faithful Pet y descubrir la diferencia que podemos hacer en la vida de tu fiel compañero!
        </p>
        <p>
          Confía en Faithful Pet, donde el amor por las mascotas es nuestra razón de ser.
        </p>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="row">

          <div class="col-sm-12 col-md-6">
            <div class="card" style="width: 24rem;">
              <img src="..." class="card-img-top" alt="...">
              <div class="card-body">
                <h4 class="card-title">Cristián Gómez Vega</h4>
                <h5 class="card-title">Director ejecutivo</h5>
                <p class="card-text">
                  Hola, mi nombre es Cristián Gómez Vega y soy Ingeniero Civil Informático de Profesión.
                  Me considero un apasionado de la informática y amante de las mascotas. Por esta razón
                  soy socio fundador de "Faithful Pet", y estoy a tu disposición para atenderte en
                  todos los requerimientos que necesites. ¡Cuenta conmigo y no dudes en escribirme!
                </p>
                <a href="mailto:cgomezvega@gmail.com" class="btn btn-primary">Enviar un correo</a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
    
{% endblock content %}