{% extends 'core/base.html' %}
{% load static %}

{% block content %}
    
  <h1 class="text-danger pt-5"> Registro de cliente </h1>

  <form method="POST" enctype="multipart/form-data" id="form">

    {% csrf_token %}
    
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <div class="form-row">
          {% for field in form %}
            <div class="form-group row mb-2">
              <label for="{{ field.id_for_label }}" class="col-sm-5 col-form-label">
                {{ field.label }}
              </label>
              <div class="col-sm-7">
                {{ field }}
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
      
      <div class="col-sm-12 col-md-6">
        
        {% if form.imagen.value %}
          <img id="registrarme-imagen" src="/media/{{ form.imagen.value }}">
        {% else %}
          <img id="registrarme-imagen" src="{% static 'core/images/sin-imagen.png' %}">
        {% endif %}

        {% if form.errors %}
          <br>
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ form.errors }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endif %}

      </div>
    </div>

    <div class="mt-2 mb-3">
      <button type="submit" class="btn btn-dark ancho-150px"> Registrarme </button>
      <button type="reset" class="btn btn-dark ancho-150px"> Limpiar </button>
      <button id="crear_usuario_prueba" class="btn btn-danger"> Crear usuario de prueba </button>
    </div>

    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endfor %}
    {% endif %}

  </form>

{% endblock content %}

{% block script %}
  <script src="{% static 'core/js/registrarme.js' %}"></script>
{% endblock script %}
