
.card {
  max-width: 600px;
  padding: 10px;
  margin: 10px;
  display: block;
  justify-content: space-between;
}



@media screen and (max-width: 800px) {
    .container {
      display: block;
    }

    .card col {
      width: 33% !important;

    }

    .card {
      width: 50%;
    }

    .row {
      position: unset;
    }
  }